# you should copy the content of this file rename as .env in root folder

# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-api-payments-gateways

# node env
NODE_ENV = development

# providers
PROVIDERS = stripe,paypal,t2

# providers status
PROVIDERS_STATUS = 1,0,1

# currencies
CURRENCIES = USD,EUR,CLP

# STRIPE_VARIABLES
STRIPE_SECRET_KEY = stripe-secret-api-key
STRIPE_PUBLIC_KEY = stripe-public-api-key
STRIPE_WEBHOOK_SECRET = stripe-webhook-secret

# PAYPAL VARIABLES
PAYPAL_CLIENT_ID = paypal-client-id
PAYPAL_SECRET_KEY = paypal-secret-key
PAYPAL_URL = https://api-m.sandbox.paypal.com